<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <div class="signup-container">
      <h1>Sign Up</h1>
      <!-- prettier-ignore -->
      <form class="signup-form" action="" method="POST">
      <label for="first_name">First Name</label>
      <input name="first_name" placeholder="first name" type="text"
      required="true" value="<% if (typeof user =="undefined") { %><% } else { %><%=user.first_name %><% } %>" />
      <label for="last_name">Last Name</label>
      <input name="last_name" placeholder="last name" type="text"
      required="true" value="<% if (typeof user =="undefined") { %><% } else { %><%=user.last_name %><% } %>" />
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text"
      required="true" value="<% if (typeof user =="undefined") { %><% } else { %><%=user.username %><% } %>" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <label for="confirmPassword">Confirm Password</label>
      <input name="confirmPassword" type="password" />
      <button>Sign Up</button>
    </form>
      <% if (typeof errors != "undefined") { %> <% for(const error of errors)
      {%>
      <div class="error-msg"><%=error.msg %></div>
      <% } %> <% } %>
    </div>
  </body>
</html>
