<% const userLink = `/clubhouse/user/${user?._id}` %> <% const userColor =
user?.favorite_color %> <% const style = `background-color:${userColor}` %>
<%const userInitial = user?.username.charAt(0) %>

<div class="header-container">
  <% if (user) {%>
  <div class="userInfo-container">
    <h1>
      WELCOME,
      <div class="user-header-container">
        <div class="user_avatar" style="<%=style %>">
          <span><%=userInitial %></span>
        </div>
        <%= user.username %>
      </div>
    </h1>
    <div class="user-options-container">
      <% if (user.membership_status === "NEW") { %>
      <a href="/clubhouse/bouncer">Become a Member</a>
      <% } else { %>
      <a href="/clubhouse/create_message">Create Message</a>
      <% } %>
      <a href="/clubhouse/message_board">All Messages</a>
      <a href="<%=userLink%>">My Page</a>
    </div>
    <form action="/log-out" method="POST">
      <button>LOG OUT</button>
    </form>
  </div>
  <% } else { %>
  <div class="login-container">
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
  </div>
  <div class="error_message-container">
    <% if (typeof message != "undefined") { %>
    <p><%= message %></p>
    <% } %>
  </div>
  <div class="create_account-container">
    <h1>don't have an account?</h1>
    <a href="/sign-up">Create account</a>
  </div>
  <%}%>
</div>
