<% const isValidUser = () => { if((shown_user.id == user._id) &&
user.membership_status === "MEMBER" && !user.admin) { return true } } %> <%
const userColor = shown_user?.favorite_color %> <% const style =
`background-color: ${userColor}` %> <%const userInitial =
shown_user?.username.charAt(0) %>

<!DOCTYPE html>
<html>
  <%- include("head") %>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <body>
    <div class="app-container">
      <%- include('user-header') %>
      <div class="userpage-container">
        <div class="user_info-container">
          <div class="userpage_username">
            <div class="user_avatar" style="<%=style %>">
              <span><%=userInitial %></span>
            </div>
            <%=shown_user.username %>
          </div>
          <div class="user_details-container">
            <p>
              <span>NAME:</span><%=shown_user.first_name%>
              <%=shown_user.last_name%>
            </p>
            <p><span>JOINED:</span> <%=shown_user.joined_formatted %></p>
            <p>
              <span>STATUS:</span> <%= shown_user.membership_status.charAt(0) +
              shown_user.membership_status.substring(1).toLowerCase(); %>
            </p>
            <p><span>ADMIN:</span> <%= shown_user.admin %></p>

            <% if(isValidUser()) { %>
            <div>
              <a href="/clubhouse/admin" class="admin_link"
                >gain admin privileges</a
              ><span class="material-symbols-outlined">
                admin_panel_settings
              </span>
            </div>
            <% } %>
          </div>
        </div>
        <ul>
          <% if(users_messages.length > 0){ %> <% for(const message of
          users_messages) {%>
          <li><%- include('message_card', {user, message}) %></li>
          <% } %> <% } else{ %>
          <p>User has no messages</p>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
